body {
    overflow: hidden;
}

.container {
  background-color: rgba(255, 255, 255, 0.7);
  max-height: 65vh; /* Set desired height */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* For Firefox */
  border-radius: 10px;
  overflow: auto;
  margin-left: 16px;
  margin-right: 16px;
  background-clip: padding-box;
}

.wrapper {
  width: 100%;
  border-bottom: 1px solid black;
  overflow: hidden;
}

.wrapper .question-container {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.question-container {
    color: black;
    width:100%;
}

.question-container.active {
  color: white;
  background-color: #50a7d3;
  background-clip:border-box;
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}

.wrapper .question-container:hover {
    color: white;
    background-color: #50a7d3;
    background-clip: padding-box;
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}

.wrapper .arrow {
    font-size: 2rem;
    transition: .5s ease-in-out;
}

.arrow.active {
  rotate: 180deg;
  color: white;
}

.wrapper .answer-container {
  transition: height .7s ease-in-out;
}

.wrapper .answer-content {
    margin-left:1em;
  /*font-size: 16px;*/
}

.answer-content {
    margin:0;
    padding-top:0.5em;
}