* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --sidebar-width: 210px; /* Default width for expanded sidebar */
  --collapsed-sidebar-width: 60px; /* Collapsed sidebar width */
}

#root {
  width:100vw
}

body {
  background-color: lightgray;
  height: 100vh;            /* Full viewport height */
  margin: 0;                /* Remove default margin */
}

.main-content {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  justify-content: flex-start; /* Ensure the content is aligned to the left */
  align-items: flex-start; /* Aligns the content to the top */
  position: relative; /* Prevent absolute positioning overrides */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* overlay and background video*/

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Scales the video to cover the viewport */
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.9);
  z-index: -1;
}

.video-container {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
}

.video-container video {
  min-width:100%;
  min-height:100%;
  width:auto;
  height:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.bubble-container {
  z-index: 3;
  width: 30%;
  height: 400px;
  border-radius:35px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(189, 70, 70, 0.1);
  
  /* Flexbox for centering content inside the box */
  display: flex;
  flex-direction: column;   /* Stack children vertically */
  align-items: center;      /* Center content horizontally */
  justify-content: center;  /* Center content vertically */
}

/* Ensure the body uses Flexbox to center content */
body {
  height: 100vh;           /* Full height of the viewport */
  margin: 0;
}


/* Main content container */
.app-container {
  display: flex; /* Arrange items horizontally */
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  margin: 0;
  padding: 0;
  align-items: flex-start; /* Align items to the top */
  justify-content: flex-start; /* Align the sidebar and content to the left */

  width:100vw;
  height:100vh;
  z-index: 10; /* Ensures this is above the overlay and video */
  align-items: flex-start; /* Align items to the top */
}
