.login-page, .create-new-company, .gap-confirm, .gap-info, .about-us-box, .div * {
    font-family: 'Poppins', sans-serif;
}
  
.login-page, .create-new-company, .gap-confirm, .gap-info, .about-us.box body {
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center;
}

.bubble-container {
    z-index:3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 375px;
    padding: 2%;
    border-radius: 35px;
    background-color : white;
    box-shadow: 0 4px 6px rgba(189, 70, 70, 0.1);
    text-align: center;
    display: flex; /* Add Flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    
}

.bubble-container input[type="text"], input[type="password"]{
    width: 90%;
    height: 35px;
    border-radius: 10px;
    border: 2px solid #dcdcdc;
    margin-bottom:20px;
    margin-top: 20px;
}

.bubble-container textarea{
    width: 90%;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #dcdcdc;
    max-width: 500px;
    max-height: 125px;
}

.submitButton {
    width: 14em;
    padding: 5px; /* Add padding for consistency */
    border-radius: 10px;
    border: none;
    background-color: #4691B7;
    color: white;
    text-align: center; /* Ensure text inside is centered */
    display: block;
    margin: 0 auto;
    margin-top : 45px;
    font-weight: 500;
    font-size: 17px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.submitButton:hover {
    background-color: #85AFC1; /* Lighter background color on hover */
  }

.gordon-text-logo {
    width : 175px;
    height : 100px;
    margin-bottom : 25px;
}

.show-hide-icons {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 15px;
    width: 30px;
}

.form{
    width:100%;
}

  