asgiref==3.8.1
Django>=4.2
django-cors-headers==4.6.0
djangorestframework==3.15.2
coverage==7.6.11
flake8==7.1.1
mccabe==0.7.0
mypy==1.14.1
mypy-extensions==1.0.0
pycodestyle==2.12.1
pyflakes==3.2.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
reportlab==4.2.5
psycopg[binary]==3.2.5

